.admin-form {
  background: @admin-form-bg;
  padding: 4% 0 8% 0;
}

.form-add-btn {
  margin-top: 25px;
}

.login-form {
  margin-top: 25px;
  margin-left: 25%;
  width: 400px;
}

.register-link {
  float: right;
}
