.navbar {
  border-radius: 0;

  .navbar-brand {
    font-size: @logo-font-size;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }
}

#navigation {
  // Main Menu Button
  #menu{
    border: @menu-button-border;
    background: @menu-button-bg;
    &:before {
      font-family: "Material Icons";
      content: @menu-button-icon;
      padding: 5px;
      margin-right: 9px;
      border: 1px solid;
      border-radius: 50%;
    }
    .caret {
      margin-left: 10px;
    }
  }
}
