// Theme Colors

@themeColor1: #f3f3f3; // Main Background Color (Light gray)
@themeColor2: #3976da; // Accent Color (Blue)

// Navigation
@navbar-margin-bottom: 0;

// Calls Page
@call-sidebar-bg-color: @themeColor1;
@call-sidebar-border: 1px solid darken(@themeColor1, 10%);
