#joined-campaigns-content {
    margin-top: 30px;
    border-top: 1px solid #dcdcdc;

    #joined-campaigns-list {
      .list-group-item {
        border-radius: 0px;
        border-bottom: none;
        border-left: none;
      }
      .list-group-item:first-child {
        border-top: none;
      }
    }
    #current-campaign {
      padding: 30px 20px;
    }
}
